{% extends "network/layout.html" %}
{% load static %}
 
        {% block body %}
        <div class="container" >
            
             
              <h1>All Books</h1>
                <div class="al">
                    <div><button class="iconl" ><i class="fas fa-angle-double-left"></i></button></div>
                    <div class="allbooks">
                {% for book in books %}
                
                    <div class="card">
                      
                        <img class='cardimg'src="..{{book.cover.url}}">
                       
                        <div class="cardbook">
                        <h1><a href="{%url 'book' book.id%}">{{book.name}}</a></h1>
                        <h4>
                            {{book.authorname}}
                        </h4>
                        <h3>{{book.price}}$</h3>
                        </div>
                        <div class="sslogan">
                        <p >-{{book.slogan}}-</p>
                        </div> 
                        
                        <button id="addtocart" class="buycart"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
                        
                    </div>
                    
    
        
                {% endfor %}
            </div>
            <div><button class="iconr" ><i class="fas fa-angle-double-right"></i></button></div>
            </div>
                




            {% for category in categories %}
            <a href="{%url 'allcategries' category.id %}"><h1>{{category.category}}</h1></a>
            <div class="al">
                <div><button class="iconl" ><i class="fas fa-angle-double-left"></i></button></div>
                <div class="allbooks">
            {% for book in books %}
           
            {% if book.bookcategory == category %}
             
                <div class="card">
                  
                    <img class='cardimg'src="..{{book.cover.url}}">
                   
                    <div class="cardbook">
                        <h1><a href="{%url 'book' book.id%}">{{book.name}}</a></h1>
                    <h4>
                        {{book.authorname}}
                    </h4>
                    <h3>{{book.price}}$</h3>
                    </div>
                    <div class="sslogan">
                    <p >-{{book.slogan}}-</p>
                    </div> 
                    
                    <button id="addtocart" class="buycart"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
                    
                </div>
                

            {% endif %}
            {% endfor %}
        </div>
        <div><button class="iconr" ><i class="fas fa-angle-double-right"></i></button></div>
        </div>
            {% endfor %}
            </div>
            

                
        </div>

   
    <script>
         var allbuttons = document.querySelectorAll('.iconl');
        allbuttons.forEach(element => {
            
        element.onclick = function(){
            var left=document.querySelector('.allbooks');
            left.scrollBy({
                left: -350,

            })
        }});
        var alllbuttons = document.querySelectorAll('.iconr');
        alllbuttons.forEach(elementt => {
            
        elementt.onclick = function(){
            var right=document.querySelector('.allbooks');
            right.scrollBy(350,0)
        }});
    </script>
{% endblock %}


